/* App Styles */

body {
  font-family:'Roboto', monospace;
  background-color: #e6edf3;
}

.App {
  text-align: start;
  width: 90%;
  margin: 2rem 2rem 0rem 3rem;
}

.Title {
  font-size: 2rem;
  margin: 3rem 0rem 0rem 0rem;
  text-align: center;
}

#title-text {
  margin: 0.5rem;
}

#title-line {
  padding: 0rem;
  margin: 0rem;
}

.Table {
  margin: 2rem 0rem 0rem 5rem;
}

.GPI-table {
  margin: 0rem;
}

table {
  width: 100%
}

#about-table {
  width: 100%;
}

#about-table th:last-child {
  width: 100px;
}

#area-header {
  width: 200px;
}

#table-head {
  background-color: #e6edf3;
  position: fixed;
  position: sticky;
  top: 0;
}

th {
  text-align: start;
  white-space: nowrap;
}

th:last-child {
  width: 50px;
}

tr {
  height: 40px;
}
 
td {
  word-wrap:break-word
}

thead tr th {
  width: 100px;
}

.about-container {
  margin: 1.5rem 0rem 1.5rem 0rem;
}

.about-quote {
  font-weight: 600;
}

#table-search {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  height: 24px;
  width: 300px;
}

hr {
  width: 100%;
}

/* body > iframe
{
    display: none;
} */








