/* App Styles */

body {
  font-family:'Roboto', monospace;
  background-color: #113e663b;
}

body > iframe
{
    display: none;
}

.App {
  text-align: start;
}

.Title {
  font-size: 2rem;
  margin: 3rem 0rem 0rem 0rem;
  text-align: center;
}

.Sections {
  margin: 4rem 0rem 0rem 5rem;
}

.Table {
  margin: 2rem 0rem 0rem 5rem;
}

table {
  width: 100%
}

th {
  text-align: start;
}

tr {
  height: 40px;
}

.country-container {
  display: flex;
  justify-content: space-between;
}

.country-info {
  display: grid;
  /* flex-grow: 1; */
  row-gap: 5px;
  grid-template-areas: 
  'country-name country-flag'
  'country-plot country-plot';
}

.country-name {
  grid-area: country-name;
  font-size: 2rem;
  margin: auto 1rem;
}

.country-flag {
  grid-area: country-flag;
  justify-self: end;
  margin-top: 0.4rem;
  width: 80px;
}

.country-plot {
  grid-area: country-plot;
}

.country-score {
  grid-area: country-score;
  font-size: 2rem;
  margin: auto;
}

.country-indexes {
  flex-grow: 1;
  font-size: 1.3rem;
  margin: 1rem 0rem 0rem 3rem;
  line-height: 50px;
}

hr {
  width: 100%;
}










